SECRET_KEY=
DEBUG=False

SITE_ORIGIN=api.domain.tld
FRONT_SITE_ORIGIN=frontend.domain.tld

DJANGO_CREATE_SUPERUSER=1
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_PHONE=
DJANGO_SUPERUSER_FULL_NAME=

# vi: set ft=sh :
